.inputItem {
    margin-bottom: 10px;
    margin-left: 100px;

    Form.Label {
        font-size: large;
    }
}

.buttonWhite {
    background-color: white;
    color: blue;
}

.inputItem #error_phone,
.inputItem #error_role,
.inputItem #error_dob,
.inputItem #error_email,
.inputItem #error_fullname {
    position: static !important;
    top: 100% !important;
    left: 0 !important;
    width: 100% !important;
    display: block !important;
    margin-top: 0.25rem !important;
}
