.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; // Chiều cao đầy màn hình
}

.circular-progress {
    width: 70px !important;
    height: 70px !important;
}
