#select .ant-select-selector {
    border-radius: 0px !important;
    border-right: 1px solid #50A5D6 !important;  
    border-left: 1px solid #ffffff !important;   
    border-top: 2px solid #50A5D6 !important;    
    border-bottom: 2px solid #50A5D6 !important; 
}



#searchButton {
    border-radius: 0 10px 10px 0 !important;
}